body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25em;
  border: 3px solid hsl(212, 45%, 89%);
  padding: 1em;
  text-align: center;
  max-width: 300px;
}

.card-image {
  max-width: 100%;
  border-radius: 0.75em;
}

.card-content {
  margin: 0.7em;
  text-align: center;
  font-size: 0.9375rem;
}

.dark-blue {
  color: hsl(218, 44%, 22%);
}